.Pagination {
  margin-top: $unit;
  text-align: center;

  &__button {
    background-color: $dark-blue;
    border: 1px solid $dark-blue;
    color: $white;
    font-size: .85em;
    font-weight: $fw-bold;
    letter-spacing: .025em;
    padding: $unit/2 $unit;
    text-transform: uppercase;
    transition: all .15s ease;

    &:active,
    &:hover {
      background-color: $white;
      color: $dark-blue;
      transition: all .15s ease;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }

    &:nth-of-type(2) {
      margin-left: $unit*2;
    }
  }
}
