/*
 * Colors
*/

$blue:          #91BED4;
$dark-blue:     #304269;
$light-blue:    #D9E8F5;
$orange:        #F26101;
$white:         #FFFFFF;

/*
 * Text
*/

$fw-bold:       700;
$fw-light:      300;

/*
 * Spacing
*/

$unit:          10px;
